body{
    overflow: hidden;
}
h1{
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
    margin-top: 10px;
    position:relative;
    right: 5px;
    bottom: 5px;
}
.container{
  text-align: center;
  width: 960px;
    height: 700px;
  background-color: #b3e6ff;
  }
div.progress{
    height: 40px;
}
#wellCSSId{
    background-color: whitesmoke;
    color: dimgrey;
    padding-left: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    width:710px;
    float: none;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    box-shadow: 2px 2px grey;
}
#smallstuff{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    color: darkgrey;
}
#spanDoneCorrectId{
  color:pink;
  background-color: white;
}
#spanDoneWrongId{
  color:ghostwhite;
  background-color: orangered;
}
#spanThisId{
  color:darkslateblue;
  text-decoration: underline;
}
#progressWellId{
    background-color: lightgray;
    padding-left: 4px;
    padding-top: 10px;
    width:710px;
    height: 60px;
    float: none;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    opacity: 1;
    box-shadow: 2px 2px grey;
}
#keyboardIdParent{
    width:800px;
    height: 270px;
}
#keyboardId{
    width: 700px;
    position: relative;
    left: 70px;
}
div#keyboardId button{
    height: 45px;
    margin-bottom:3px;
    width: 45px;
    border-radius: 6px;
    background: white;
}
div#keyboardId button:active {
  transform: translateY(3px);
}
#button_backspace_Id, #button_Tab_Id{
    width: 65px !important
}
#button_Caps_Id{
    width: 80px !important
}
#button_Enter_Id{
    width: 78px !important
}
#button_shiftleft_Id, #button_shiftright_Id{
    width: 104px !important
}
#button_32_Id{
    width: 304px !important
}
#button_altright_Id, #button_altleft_Id, #button_controlright_Id, #button_controlleft_Id{
    width: 95px !important
}
#fingersId{
    position: relative;
    top: -270px;
    opacity:0.65;

}
#sidebarId{
    background:#66ccff;
    height: 700px;
}
#sidebarId *{  
    color: white;
}

#animalShiftId{
    position: relative;
    right: 21px;
    top: 3px;
    border-radius: 5px;
    box-shadow: 2px 2px grey;
}
#buttonSetRecomId{
  font-family: 'Roboto', sans-serif;
    height: 55px;
    padding-top: 0px;
    background: #00bfff !important;
}
#Comment1{
    margin-top: 10px;
    margin-left: 30px;
    width: 710px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
#gameCommentId{
    font-family: 'Ruslan Display', cursive;
    font-size: 24px;
    color: darkslategrey;
    margin-top: 5px;
}
#boTT{
    font-size: 14px;
     font-family: 'Roboto', sans-serif;
}
#YarId{
  font-family: 'Neucha', cursive;
    font-size: 20px;
    color: darkblue;

}
#centerColAdjId{
   position:relative;
    right: 15px
}
#headerRowId{
    padding-top: 5px;
    background: #4dd2ff;
    height: 120px;
}
#urovniId{
    border: 1px solid #0099cc;
    background: #00bfff;
}
#level1Id,#level2Id,#level3Id{
    border: 1px solid #00bfff;
}